In [1]:
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder \
    .master("local[1]") \
    .appName("SparkByExamples.com") \
    .getOrCreate()

# Read text file from the same folder
rdd2 = spark.sparkContext.textFile("input.txt")

# Print first 5 lines
for line in rdd2.take(5):
    print(line)

# Stop Spark
spark.stop()

Alice,24,Engineer
Bob,30,Data Scientist
Charlie,28,Product Manager
Diana,35,Doctor
Eve,22,Designer